<% name = current_user.present? ? current_user.email : '' %>

<h1><%= name %> </h1>

<% if current_user.present? %>
    <div class="gallery">
        <h3>
            <%= link_to "Album Dashboard",albums_path %>
        </h3>
    </div>
<% end %>