<% name = current_user.present? ? current_user.email : '' %>

<h2 class="emailhead">Welcome <%= name %> </h2>

<% if current_user.present? %>
    <h1 class="newalbum"><%= link_to "Dashboard", user_albums_path(user_id: current_user.try(:id)) %></h1>
<%end%>