<% name = current_user.present? ? current_user.email : '' %>

<h2 class="emailhead">Welcome <%= name %> </h2>
<div class="header">
    <h1>My Album</h1>
    <% if current_user.present? %>
        <div class="dashboard">
            <h2>
                <%= link_to "Go To Album Dashboard",albums_path %>
            </h2>
        </div>
    <% end %>
</div>
<%= render 'albums/footer' %>